<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @movie.resume %>
</p>

<p>
  <strong>Statut de la location:</strong>
  <%= @movie.location_status %>
</p>

<% if @movie.user == current_user or current_user.user_type == 'admin' %>
  <%= link_to 'Edit', edit_movie_path(@movie) %>
<% end %>  |
<%= link_to 'Back', movies_path %>
