<header>
    <nav>
        <%= link_to 'Accueil', root_path  %>
        <%= link_to 'Tous les films', movies_path %>
        <% if user_signed_in? %>
            <% if current_user.user_type == 'admin' %>
                <%= link_to 'Categories', categories_path %>
                <%= link_to 'Location', locations_path %>
            <% end %>
        <% end %>
        <% if user_signed_in? %>
        <%= current_user.email %>
            <%= link_to 'Mes films', user_path(current_user) %>
            <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete%>  
        <% else %>
            <%= link_to 'Connexion', new_user_session_path %>
            <%= link_to 'Inscription', new_user_registration_path %>
        <% end %>
        
    </nav>
</header>